<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erahub.fixedasset.metadata.mapper.DepreciationMethodMapper">

    <select id="selectDepreciationMethodPageList" resultType="com.erahub.common.model.fixedasset.metadata.DepreciationMethod"
            parameterType="com.erahub.common.dto.fixedasset.metadata.DepreciationMethodDTO"
    >
        select fdm.*,ffa.fixed_asset_quantity,ffac.fixed_asset_category_quantity from fa_depreciation_method as fdm left join
        (select depreciation_method_id,COUNT(depreciation_method_id) as fixed_asset_quantity
        from fa_fixed_asset GROUP BY depreciation_method_id) as ffa
        on fdm.depreciation_method_id = ffa.depreciation_method_id left join
        (select depreciation_method_id,COUNT(depreciation_method_id) as fixed_asset_category_quantity
        from fa_fixed_asset_category GROUP BY depreciation_method_id) as ffac
        on fdm.depreciation_method_id = ffac.depreciation_method_id
        where 1 = 1
        <if test="depreciationMethodDTO.isAccurate != null and depreciationMethodDTO.isAccurate == 0">
            <if test="depreciationMethodDTO.depreciationMethodId != null">
                and fdm.depreciation_method_id like '%${depreciationMethodDTO.depreciationMethodId}%'
            </if>
            <if test="depreciationMethodDTO.depreciationMethodName != null and depreciationMethodDTO.depreciationMethodName != ''">
                and fdm.depreciation_method_name like '%${depreciationMethodDTO.depreciationMethodName}%'
            </if>
        </if>
        <if test="depreciationMethodDTO.isAccurate != null and depreciationMethodDTO.isAccurate == 1">
            <if test="depreciationMethodDTO.depreciationMethodId != null">
                and fdm.depreciation_method_id = #{depreciationMethodDTO.depreciationMethodId}
            </if>
            <if test="depreciationMethodDTO.depreciationMethodName != null and depreciationMethodDTO.depreciationMethodName != ''">
                and fdm.depreciation_method_name = #{depreciationMethodDTO.depreciationMethodName}
            </if>
        </if>
        <if test="depreciationMethodDTO.status != null">
            and fdm.status = #{depreciationMethodDTO.status}
        </if>
        <if test="depreciationMethodDTO.startCreateTime != null">
            and fdm.create_time &gt;= #{depreciationMethodDTO.startCreateTime}
        </if>
        <if test="depreciationMethodDTO.endCreateTime != null">
            and fdm.create_time &lt;= #{depreciationMethodDTO.endCreateTime}
        </if>
        <if test="depreciationMethodDTO.sortColumn != null and depreciationMethodDTO.sortColumn != ''">
            <if test="depreciationMethodDTO.isAsc != null and depreciationMethodDTO.isAsc">
                order by ${depreciationMethodDTO.sortColumn}
            </if>
            <if test="depreciationMethodDTO.isAsc != null and !depreciationMethodDTO.isAsc">
                order by ${depreciationMethodDTO.sortColumn} desc
            </if>
        </if>
    </select>

    <select id="selectDepreciationMethodListByIds" resultType="com.erahub.common.model.fixedasset.metadata.DepreciationMethod"
            parameterType="java.util.List"
    >
        select fdm.*,ffa.fixed_asset_quantity,ffac.fixed_asset_category_quantity from fa_depreciation_method as fdm left join
        (select depreciation_method_id,COUNT(depreciation_method_id) as fixed_asset_quantity
        from fa_fixed_asset GROUP BY depreciation_method_id) as ffa
        on fdm.depreciation_method_id = ffa.depreciation_method_id left join
        (select depreciation_method_id,COUNT(depreciation_method_id) as fixed_asset_category_quantity
        from fa_fixed_asset_category GROUP BY depreciation_method_id) as ffac
        on fdm.depreciation_method_id = ffac.depreciation_method_id
        where fdm.depreciation_method_id in
        <foreach item="item" collection="depreciationMethodIds" open="(" close=")" separator="," index="">
            #{item}
        </foreach>
    </select>

</mapper>
