<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erahub.fixedasset.metadata.mapper.FixedAssetCategoryMapper">

    <select id="selectFixedAssetCategoryPageList" resultType="com.erahub.common.model.fixedasset.metadata.FixedAssetCategory"
        parameterType="com.erahub.common.dto.fixedasset.metadata.FixedAssetCategoryDTO"
    >
        select ffac.*,ffa.fixed_asset_quantity from (
        select f.*,d.depreciation_method_name from fa_fixed_asset_category as f left join fa_depreciation_method as d
        on f.depreciation_method_id = d.depreciation_method_id
        ) as ffac left join
        (select category_id,COUNT(category_id) as fixed_asset_quantity from fa_fixed_asset GROUP BY category_id) as ffa
        on ffac.category_id = ffa.category_id
        where 1 = 1
        <if test="fixedAssetCategoryDTO.isAccurate != null and fixedAssetCategoryDTO.isAccurate == 0">
            <if test="fixedAssetCategoryDTO.categoryId != null and fixedAssetCategoryDTO.categoryId != ''">
                and ffac.category_id = #{fixedAssetCategoryDTO.categoryId}
            </if>
            <if test="fixedAssetCategoryDTO.capacityUnit != null and fixedAssetCategoryDTO.capacityUnit != ''">
                and ffac.capacity_unit = #{fixedAssetCategoryDTO.capacityUnit}
            </if>
            <if test="fixedAssetCategoryDTO.measureUnit != null and fixedAssetCategoryDTO.measureUnit != ''">
                and ffac.measure_unit = #{fixedAssetCategoryDTO.measureUnit}
            </if>
            <if test="fixedAssetCategoryDTO.categoryName != null and fixedAssetCategoryDTO.categoryName != ''">
                and ffac.category_name = #{fixedAssetCategoryDTO.categoryName}
            </if>
        </if>

        <if test="fixedAssetCategoryDTO.isAccurate != null and fixedAssetCategoryDTO.isAccurate == 1">
            <if test="fixedAssetCategoryDTO.categoryId != null and fixedAssetCategoryDTO.categoryId != ''">
                and ffac.category_id like '${fixedAssetCategoryDTO.categoryId}%'
            </if>
            <if test="fixedAssetCategoryDTO.capacityUnit != null and fixedAssetCategoryDTO.capacityUnit != ''">
                and ffac.capacity_unit like '%${fixedAssetCategoryDTO.capacityUnit}%'
            </if>
            <if test="fixedAssetCategoryDTO.measureUnit != null and fixedAssetCategoryDTO.measureUnit != ''">
                and ffac.measure_unit like '%${fixedAssetCategoryDTO.measureUnit}%'
            </if>
            <if test="fixedAssetCategoryDTO.categoryName != null and fixedAssetCategoryDTO.categoryName != ''">
                and ffac.category_name like '%${fixedAssetCategoryDTO.categoryName}%'
            </if>
        </if>

        <if test="fixedAssetCategoryDTO.status != null">
            and ffac.status = #{fixedAssetCategoryDTO.status}
        </if>
        <if test="fixedAssetCategoryDTO.categoryDetailed != null">
            and ffac.category_detailed = #{fixedAssetCategoryDTO.categoryDetailed}
        </if>
        <if test="fixedAssetCategoryDTO.depreciationMethodId != null">
            and ffac.depreciation_method_id = #{fixedAssetCategoryDTO.depreciationMethodId}
        </if>
        <if test="fixedAssetCategoryDTO.depreciationPeriod != null">
            and ffac.depreciation_period = #{fixedAssetCategoryDTO.depreciationPeriod}
        </if>
        <if test="fixedAssetCategoryDTO.netResidualValue != null">
            and ffac.net_residual_value = #{fixedAssetCategoryDTO.netResidualValue}
        </if>
        <if test="fixedAssetCategoryDTO.estimatedTotalWorkload != null">
            and ffac.estimated_total_workload = #{fixedAssetCategoryDTO.estimatedTotalWorkload}
        </if>

        <if test="fixedAssetCategoryDTO.startCreateTime != null">
            and ffac.create_time &gt;= #{fixedAssetCategoryDTO.startCreateTime}
        </if>

        <if test="fixedAssetCategoryDTO.endCreateTime != null">
            and ffac.create_time &lt;= #{fixedAssetCategoryDTO.endCreateTime}
        </if>

        <if test="fixedAssetCategoryDTO.sortColumn != null and fixedAssetCategoryDTO.sortColumn != ''">
            <if test="fixedAssetCategoryDTO.isAsc != null and fixedAssetCategoryDTO.isAsc">
                order by ${fixedAssetCategoryDTO.sortColumn}
            </if>
            <if test="fixedAssetCategoryDTO.isAsc != null and !fixedAssetCategoryDTO.isAsc">
                order by ${fixedAssetCategoryDTO.sortColumn} desc
            </if>
        </if>
    </select>

    <select id="selectFixedAssetCategoryListByIds" resultType="com.erahub.common.model.fixedasset.metadata.FixedAssetCategory"
            parameterType="java.util.List"
    >
        select ffac.*,ffa.fixed_asset_quantity from (
        select f.*,d.depreciation_method_name from fa_fixed_asset_category as f left join fa_depreciation_method as d
        on f.depreciation_method_id = d.depreciation_method_id
        ) as ffac left join
        (select category_id,COUNT(category_id) as fixed_asset_quantity from fa_fixed_asset GROUP BY category_id) as ffa
        on ffac.category_id = ffa.category_id
        where ffac.category_id in
        <foreach item="item" collection="categoryIds" open="(" close=")" separator="," index="">
            #{item}
        </foreach>
    </select>

</mapper>
