<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erahub.fixedasset.metadata.mapper.FixedAssetCategoryMapper">

    <select id="selectPageList" resultType="com.erahub.common.model.fixedasset.metadata.FixedAssetCategory"
        parameterType="com.erahub.common.dto.fixedasset.metadata.FixedAssetCategoryDTO"
    >
        select f.*,d.depreciation_method_name from fa_fixed_asset_category as f left join fa_depreciation_method as d
        on f.depreciation_method_id = d.depreciation_method_id
        where 1 = 1
        <if test="fixedAssetCategoryDTO.isAccurate != null and fixedAssetCategoryDTO.isAccurate == 0">
            <if test="fixedAssetCategoryDTO.categoryId != null">
                and f.category_id = #{fixedAssetCategoryDTO.categoryId}
            </if>
            <if test="fixedAssetCategoryDTO.capacityUnit != null and fixedAssetCategoryDTO.capacityUnit != ''">
                and f.capacity_unit = #{fixedAssetCategoryDTO.capacityUnit}
            </if>
            <if test="fixedAssetCategoryDTO.measureUnit != null and fixedAssetCategoryDTO.measureUnit != ''">
                and f.measure_unit = #{fixedAssetCategoryDTO.measureUnit}
            </if>
            <if test="fixedAssetCategoryDTO.categoryName != null and fixedAssetCategoryDTO.categoryName != ''">
                and f.category_name = #{fixedAssetCategoryDTO.categoryName}
            </if>
        </if>

        <if test="fixedAssetCategoryDTO.isAccurate != null and fixedAssetCategoryDTO.isAccurate == 1">
            <if test="fixedAssetCategoryDTO.categoryId != null">
                and f.category_id like '${fixedAssetCategoryDTO.categoryId}%'
            </if>
            <if test="fixedAssetCategoryDTO.capacityUnit != null and fixedAssetCategoryDTO.capacityUnit != ''">
                and f.capacity_unit like '%${fixedAssetCategoryDTO.capacityUnit}%'
            </if>
            <if test="fixedAssetCategoryDTO.measureUnit != null and fixedAssetCategoryDTO.measureUnit != ''">
                and f.measure_unit like '%${fixedAssetCategoryDTO.measureUnit}%'
            </if>
            <if test="fixedAssetCategoryDTO.categoryName != null and fixedAssetCategoryDTO.categoryName != ''">
                and f.category_name like '%${fixedAssetCategoryDTO.categoryName}%'
            </if>
        </if>

        <if test="fixedAssetCategoryDTO.status != null and fixedAssetCategoryDTO.status">
            and f.status = 1
        </if>
        <if test="fixedAssetCategoryDTO.status != null and !fixedAssetCategoryDTO.status">
            and f.status = 0
        </if>
        <if test="fixedAssetCategoryDTO.depreciationMethodId != null">
            and f.depreciation_method_id = #{fixedAssetCategoryDTO.depreciationMethodId}
        </if>
        <if test="fixedAssetCategoryDTO.depreciationPeriod != null">
            and f.depreciation_period = #{fixedAssetCategoryDTO.depreciationPeriod}
        </if>
        <if test="fixedAssetCategoryDTO.netResidualValue != null">
            and f.net_residual_value = #{fixedAssetCategoryDTO.netResidualValue}
        </if>
        <if test="fixedAssetCategoryDTO.estimatedTotalWorkload != null">
            and f.estimated_total_workload = #{fixedAssetCategoryDTO.estimatedTotalWorkload}
        </if>

        order by f.category_id
    </select>


</mapper>
