<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erahub.fixedasset.metadata.mapper.SectionMapper">

    <select id="selectPageList" resultType="com.erahub.common.model.fixedasset.metadata.Section"
            parameterType="com.erahub.common.dto.fixedasset.metadata.SectionDTO"
    >
        select fs.*,ffa.fixed_asset_quantity from fa_section as fs left join
        (select section_id,COUNT(section_id) as fixed_asset_quantity from fa_fixed_asset GROUP BY section_id) as ffa
        on fs.section_id = ffa.section_id
        where 1 = 1
        <if test="sectionDTO.isAccurate != null and sectionDTO.isAccurate == 0">
            <if test="sectionDTO.sectionId != null and sectionDTO.sectionId != ''">
                and fs.section_id like '%${sectionDTO.sectionId}%'
            </if>
            <if test="sectionDTO.sectionName != null and sectionDTO.sectionName != ''">
                and fs.section_name like '%${sectionDTO.sectionName}%'
            </if>
            <if test="sectionDTO.sectionAbbreviation != null and sectionDTO.sectionAbbreviation != ''">
                and fs.section_abbreviation like '%${sectionDTO.sectionAbbreviation}%'
            </if>
        </if>
        <if test="sectionDTO.isAccurate != null and sectionDTO.isAccurate == 1">
            <if test="sectionDTO.sectionId != null and sectionDTO.sectionId != ''">
                and fs.section_id = #{sectionDTO.sectionId}
            </if>
            <if test="sectionDTO.sectionName != null and sectionDTO.sectionName != ''">
                and fs.section_name = #{sectionDTO.sectionName}
            </if>
            <if test="sectionDTO.sectionAbbreviation != null and sectionDTO.sectionAbbreviation != ''">
                and fs.section_abbreviation = #{sectionDTO.sectionAbbreviation}
            </if>
        </if>
        <if test="sectionDTO.status != null">
            and fs.status = #{sectionDTO.status}
        </if>
        <if test="sectionDTO.sectionLevel != null">
            and fs.section_level &lt;= #{sectionDTO.sectionLevel}
        </if>
        <if test="sectionDTO.sectionDetailed != null">
            and fs.section_detailed = #{sectionDTO.sectionDetailed}
        </if>
        <if test="sectionDTO.startCreateTime != null">
            and fs.create_time &gt;= #{sectionDTO.startCreateTime}
        </if>
        <if test="sectionDTO.endCreateTime != null">
            and fs.create_time &lt;= #{sectionDTO.endCreateTime}
        </if>
    </select>


    <select id="selectAllParentList" resultType="com.erahub.common.model.fixedasset.metadata.Section"
            parameterType="java.util.List"
    >
        select fs.*,ffa.fixed_asset_quantity from fa_section as fs left join
        (select section_id,COUNT(section_id) as fixed_asset_quantity from fa_fixed_asset GROUP BY section_id) as ffa
        on fs.section_id = ffa.section_id where
        <foreach item="item" collection="sectionIdList" separator=" or " index="">
            instr(#{item},fs.section_id) > 0
        </foreach>
    </select>

    <select id="selectChildrenList" resultType="com.erahub.common.model.fixedasset.metadata.Section"
            parameterType="java.lang.String"
    >
        select fs.*,ffa.fixed_asset_quantity from fa_section as fs left join
        (select section_id,COUNT(section_id) as fixed_asset_quantity from fa_fixed_asset GROUP BY section_id) as ffa
        on fs.section_id = ffa.section_id
        where fs.section_id like '${sectionId}%' and length(fs.section_id) = length(#{sectionId}) + 4
    </select>

    <select id="selectListByIds" resultType="com.erahub.common.model.fixedasset.metadata.Section"
            parameterType="java.util.List"
    >
        select fs.*,ffa.fixed_asset_quantity from fa_section as fs left join
        (select section_id,COUNT(section_id) as fixed_asset_quantity from fa_fixed_asset GROUP BY section_id) as ffa
        on fs.section_id = ffa.section_id
        where fs.section_id in
        <foreach item="item" collection="sectionIds" open="(" close=")" separator="," index="">
            #{item}
        </foreach>
    </select>

</mapper>
